<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<meta name="description" content="">
 	<meta name="author" content="">
	
	<title>Edit {{gpu.name}}</title>

	<!-- Bootstrap core CSS -->
  	<link href="/css/bootstrap.min.css" rel="stylesheet">

  	<!-- Custom fonts for this template -->
  	<link href="/css/all.min.css" rel="stylesheet">
 	<link href="/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  	<!-- Custom styles for this template -->
  	<link href="/css/landing-page.min.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-light bg-light-nav static-top">
    	<div class="container">
     		<a class="navbar-brand" href="/">GPU Universe</a>
    		<a class="btn btn-primary" href="{{logout_url}}">Log Out</a>
    	</div>
	</nav>

<section class="testimonials text-center" style="background-color: #F3EEEE">
    <div class="container">
      <h2 class="mb-5">Edit {{gpu.name}} </h2>
      <div class="row">	
<table class="table" align="center">
	<form method="post">
	<tbody>
	<tr>
		<th> Name </th> 
		<td> {{gpu.name}} <input type="hidden" name="g_name" value="{{gpu.name}}"></td>
	</tr>
	<tr>
		<th> Manufacturer </th> 
		<td> <input type="text" name="man" value="{{gpu.manufacturer}}"> </td>
	</tr>
	<tr>
		<th> Geometry Shader </th>
		<td> 
			{% if gpu.geometryShader %}
				<input type="checkbox" name="geoshader" checked>
			{% else %}
				<input type="checkbox" name="geoshader">
			{% endif %} 
		</td>
	</tr>
	<tr>
		<th> Tesselation Shader </th>
		<td> 
			{% if gpu.tesselationShader %}
	 			<input type="checkbox" name="tesshader" checked>
			{% else %}
				<input type="checkbox" name="tesshader">
			{% endif %}
		</td>
	</tr>
	<tr>
		<th> Shader Int16 </th>
		<td> 
			{% if gpu.shaderInt16 %}
				<input type="checkbox" name="shaderint" checked>
			{% else %}
				<input type="checkbox" name="shaderint">
			{% endif %}
		</td>
	</tr>
	<tr>
		<th> Sparse Binding </th>
		<td> 
			{% if gpu.sparseBinding %}
				<input type="checkbox" name="sparse" checked>
			{% else %}
				<input type="checkbox" name="sparse">
			{% endif %}
		</td>
	</tr>
	<tr>
		<th> Texture Compression ETC2 </th>
		<td>
			{% if gpu.textureCompressionETC2 %}
				<input type="checkbox" name="etc" checked>
			{% else %}
				<input type="checkbox" name="etc">
			{% endif %}
		</td>
	</tr>
	<tr>
		<th> Vertex Pipeline Stores & Atomics </th>
		<td>
			{% if gpu.vertexPipelineStoresAndAtomics %}
				<input type="checkbox" name="vertex" checked>
			{% else %}
				<input type="checkbox" name="vertex">
			{% endif %}
		</td>
	</tr>
	</tbody>
</table>
<br/>
<input type="submit" name="button" value="Cancel" class="btn btn-primary">
<input type="submit" name="button" value="Apply" class="btn btn-primary">
 </form>
</div>
</div>
 </section>

<footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center my-auto">
        	<ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/" style="color:#AE4E0F">Add</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/gpulist" style="color:#AE4E0F">GPU List</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">Mert Altintas 2982775</p>
          <p class="text-muted small mb-4 mb-lg-0">MSc in Big Data & Management</p>
        </div>
      </div>
    </div>
</footer>
</body>
</html>